@import "../../shared/variables";

.button__container {
  color: #fff;
  border-radius: 38px;
  border: 1px solid $border;

  cursor: pointer;

  padding: 0px 24px;
  font-size: 16px;
  height: 48px;

  background-color: var(--button-color);
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
  gap: 8px;
  &:hover {
    opacity: 0.8;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  }
}
